body {

}

#content{
  position: absolute;
    top: 50px;
    right: 100px;
    z-index: 1;

}

.buttonClass {

  z-index: 6;
  cursor: pointer;
  background-color: yellow;
  border: none;
  color: blue;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

#buttonInput{

    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 6;

}

#buttonClose{

    position: absolute;
    top: 70px;
    left: 100px;
    z-index: 6;
    display:none;

}

#text{
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 7;
  color: yellow;
  font-size:10px;



}

#buttonColor{
  position: absolute;
  top: 140px;
  left: 100px;
  z-index: 7;
  font-size:10px;


}
#buttonSize{
  position: absolute;
  top: 180px;
  left: 100px;
  z-index: 7;

  font-size:10px;


}

#buttonXmore{
  position: absolute;
  top: 260px;
  right: 140px;
  z-index: 7;
  color:yellow;
  font-size:10px;

}
#buttonXless{
  position: absolute;
  top: 260px;
  right: 100px;
  z-index: 7;
  color:yellow;
  font-size:10px;

}
#buttonYmore{
  position: absolute;
  top: 360px;
  right: 100px;
  z-index: 7;
  color:yellow;
  font-size:10px;

}
#buttonYless{
  position: absolute;
  top: 360px;
  right: 150px;
  z-index: 7;
  color:yellow;
  font-size:10px;

}






#myInput{
  display:none;
}
