
#bc{
      position:absolute;
      top:0px;
      left:0px;

      width:100vw;
      height:100vh;
      z-index: 3;
      }


#content{
  position: absolute;
    top: 50px;
    right: 50px;
    z-index: 2;



}

.buttonClass {

  z-index: 6;
  cursor: pointer;
  background-color: yellow;
  border: none;
  color: blue;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

#buttonInput{

    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 6;
     display:none;
}

#buttonClose{

    position: absolute;
    top: 70px;
    left: 100px;
    z-index: 6;
    display:none;

}

#text{
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 7;
  color: yellow;
  font-size:10px;



}

#buttonColor{
  position: absolute;
  top: 140px;
  left: 100px;
  z-index: 7;
  font-size:10px;
  display:none;


}

#buttonTech{
  position: absolute;
  top: 400px;
  left: 200px;
  z-index: 7;
  font-size:10px;
   display:none;

}

#buttonWar{
  position: absolute;
   top: 400px;
   left: 100px;
z-index: 7;
display:none;


}
#buttonPolitic{
  position: absolute;
  top: 400px;
  left: 300px;
  z-index: 7;
display:none;
}
#buttonSize{
  position: absolute;
  top: 180px;
  left: 100px;
  z-index: 7;
display:none;
  font-size:10px;


}



#buttonStart{
  position: absolute;
  top: 500px;
  right: 350px;
  z-index: 10;

}
#buttonEdit{
  position: absolute;
  top: 400px;
  left: 50px;
  z-index: 10;
  display:none;

}
#trump{
  position: absolute;
   top: 100px;
   left: 200px;
z-index: 7;
display: none;
}

#lion1{
  position: absolute;
   top: 170px;
   left: 250px;
z-index: 7;
display: none;
}

#lion{
  position: absolute;
   top: 70px;
   left: 250px;
z-index: 7;

display: none;
}

#nuclear{
  position: absolute;
   top: 200px;
   left: 250px;
z-index: 7;
display: none;

}



#globe{
  position: absolute;
   top: 200px;
   left: 200px;
  z-index: 7;
  display: none;
}

#myInput{
  display:none;
}
