.pixel {
  background-color: black;
  width: 30px;
  height: 30px;
  float: left;
}



#text{
  position: absolute;
  top: 100px;
  left: 200px;
  color: white;
  font-size: 20px;
  z-index: 3;
  display: block;
}
