body {

}

#sisyphus{ position:absolute;
                 top:50px;
                 right:100px;
                 z-index:2;


}

#static{ position:absolute;
                 top:50px;
                 right:100px;
                 z-index:3;
                 display:block;


}
#text{position:absolute;
                 top:50px;
                 left:100px;
                 z-index:2;


}

#mind{
  position:absolute;
                   top:50px;
                   left:100px;
                   z-index:2;


}
.stop {
    animation-play-state: paused;
}
#dialog{


}
