body {
overflow: hidden;
}

.background{

width:100vw;
height:100vh;
z-index:-1;

}

#bigscreen{
  position: absolute;
  top:2%;
  right:2%;
  height: 40vh;
  width:29vw;
  z-index:5;
  display: none;


}
.allElements{

}
#myInput {
  position: absolute;
  top:50%;
  right:5%;
  height: 20vh;
  width: 20vw;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  z-index:5;
  display:none;

}

#myNumber {
  position: absolute;
  top:65%;
  right:5%;
  height: 5vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  z-index:5;
  display:none;

}

#explain {
  position: absolute;
  top:7%;
  right:5%;
  width:20vw;
  height:40vh;
  font-size: 2vw;
  color: blue;
  z-index: 7;

}

#backColor{
  position: absolute;
  top:0%;
  left:0%;
  width:100vw;
  height:100vh;
  z-index:2;
  display: none;
  background-color: #202225;
  opacity: 0.9;
 display: none;

}

#screen1{
position: absolute;
bottom: 200px;
right:100px;
width:20vw;
height:20vh;
z-index:0;



}
#screen2{
position: absolute;
top:10%;
right:22%;
width:10vw;
height:10vh;
z-index:0;

}

#screen3{
position: absolute;
bottom: 25%;
left:25%;
width:10vw;
height:10vh;
z-index:0;



}

#screen4{
position: absolute;
top:35%;
left:15%;
width:10vw;
height:10vh;
z-index:0;



}
#screen5{
position: absolute;
top:100px;
left:500px;
width:10vw;
height:10vh;
z-index:0;



}
#screen6{
position: absolute;
top:45%;
left:35%;
width:10vw;
height:10vh;
z-index:0;



}

#shopping{
position: absolute;
top:5%;
left:5%;
width:60vw;
height:60vh;
z-index:4;
display:none;



}

#police{
position: absolute;
top:40%;
right:15%;
width:12vw;
height:40vh;
z-index:4;
display:none;
}


#screen7{
position: absolute;
top:38%;
left:60%;
width:10vw;
height:10vh;
z-index:0;

}
#screen8{
position: absolute;
bottom:25%;
right:15%;
width:10vw;
height:10vh;
z-index:0;

}

#screen9{
position: absolute;
top:70%;
right:40%;
width:10vw;
height:10vh;
z-index:0;

}

#home{
position: absolute;
top:0%;
left:0%;
width:100vw;
height:100vh;
z-index:1;

display:none;



}
#robotAssistant{
  position: absolute;
  top:56%;
  right:5%;
  width:20vw;
  height:30vh;
  z-index:6;
 display:none;

}

#robot0{
position: absolute;
top:37%;
left:23%;
width:17vw;
height:20vh;
z-index:5;
display:none;
}

#robot1{
position: absolute;
top:37%;
left:40%;
width:17vw;
height:20vh;
z-index:5;
display:none;
}

#robot2{
position: absolute;
top:37%;
left:55%;
width:15.7vw;
height:20vh;
z-index:5;
display:none;
}

#checkup{
position: absolute;
top:30%;
left:40%;
width:15vw;
height:40vh;
z-index:4;
display:none;



}

#humanBody{
  position: absolute;
  top:20%;
  left:5%;
  width:5vw;
  height:20vh;
  z-index:4;
  display:none;
}

#chip{
  position: absolute;
  top:60%;
  right:15%;
  width:5vw;
  height:5vh;
  z-index:4;
  display:none;
}
#checking{
  position: absolute;
  top:20%;
  left:5%;
  width:50vw;
  height:50vh;
  z-index:4;
  display:none;

}

#loading{
  position: absolute;
  top:20%;
  left:5%;
  width:50vw;
  height:50vh;
  z-index:4;
  display:none;

}
.buttonClass {
    z-index: 2;
    cursor: pointer;
    background-color: yellow;
    border: none;
    color: blue;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

  }

  #buyStuff {
    position: absolute;
    top: 75%;
    right: 5%;
    z-index: 5;
    display: none;

  }
  #reset {
    position: absolute;
    top: 75%;
    right: 20%;
    z-index: 5;


  }
  #buttonShop {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 4;
    display: none;

  }
  #exitButton{
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: 7;
  display:none;

  }

  #buttonHome{
    position: absolute;
    top: 30vw;
    left: 35vw;
    z-index: 3;
    display: none;
  }

  #buttonHospital {
    position: absolute;
    top: 70vh;
    left: 5px;
    z-index: 3;
    display: none;
  }



  #buttonPolice {
    position: absolute;

    z-index: 4;
    display: none;
  }

  #droneButton {
    position: absolute;

    z-index: 4;
    display: none;
  }
  #learnButton {
    position: absolute;

    z-index: 4;
    display: none;
  }
  #jobButton {
    position: absolute;

    z-index: 4;
    display: none;
  }

  
