body {

}

.background{

width:100vw;
height:100vh;
z-index:0;

}

#bigscreen{
  position: absolute;
  top:2%;
  right:2%;
  height: 25vh;
  width:24vw;
  z-index:5;
  display: none;


}
#myInput {
  position: absolute;
  top:60%;
  right:5%;
  height: 5vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  z-index:5;
  display:none;

}

#myNumber {
  position: absolute;
  top:65%;
  right:5%;
  height: 5vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  z-index:5;
  display:none;

}

#explain {
  position: absolute;
  top:70%;
  left:50%;
  font-size: 15px;
  color: yellow;
  z-index: 7;
}

#backColor{
  position: absolute;
  top:0%;
  left:0%;
  width:100vw;
  height:100vh;
  z-index:2;
  display: none;
  background-color: #202225;
  opacity: 0.9;


}

#screen1{
position: absolute;
top:80%;
right:10%;
width:20vw;
height:20vh;
z-index:2;



}
#screen2{
position: absolute;
top:45%;
left:60%;
width:10vw;
height:10vh;
z-index:1;

}

#screen3{
position: absolute;
top:65%;
left:25%;
width:10vw;
height:10vh;
z-index:1;



}

#screen4{
position: absolute;
top:35%;
left:15%;
width:10vw;
height:10vh;
z-index:1;



}
#screen5{
position: absolute;
top:100px;
left:500px;
width:10vw;
height:10vh;
z-index:1;



}
#screen6{
position: absolute;
top:45%;
left:35%;
width:10vw;
height:10vh;
z-index:1;



}

#shopping{
position: absolute;
top:5%;
left:5%;
width:70vw;
height:70vh;
z-index:4;
display:none;



}
.buttonClass {
    z-index: 2;
    cursor: pointer;
    background-color: yellow;
    border: none;
    color: blue;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

  }

  #buyStuff {
    position: absolute;
    top: 75%;
    right: 5%;
    z-index: 5;
    display: none;

  }
  #buttonShop {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 3;
    display: none;

  }
  #exitShop {
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: 3;
    display: none;

  }
  #buttonHome{
    position: absolute;
    top: 30vw;
    left: 35vw;
    z-index: 3;

  }

  #buttonColor {
    position: absolute;
    top: 70vh;
    left: 5px;
    z-index: 7;
    display: none;
  }

  #buttonTech {
    position: absolute;
    top: 400px;
    left: 200px;
    z-index: 7;
    display: none;
  }

  #buttonWar {
    position: absolute;
    top: 400px;
    left: 100px;
    z-index: 7;
    display: none;
  }
